<%include ../partials/header%>
<div class="card">
    <!-- <div class="text-center card-header">
    </div> -->
    <div class="card-body">
        <h1 class="display-4 text-center"><%=project.name%></h1>
        <section><h1 class="text-center">Member requests</h1></section>
    </div>
</div>

<%include ../partials/footer%>